Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
demos/.deps/
demos/.libs/
demos/Makefile
demos/Makefile.in
demos/sockettestClient
demos/*.o
demos/sockettestServer
depcomp
docs/Makefile
docs/Makefile.in
include/Makefile
include/Makefile.in
include/timblserver/Makefile
include/timblserver/Makefile.in
install-sh
libtool
ltmain.sh
m4/
missing
src/.deps/
src/.libs/
src/*.lo
src/*.o
src/Makefile
src/Makefile.in
src/libtimblserver.la
src/timblclient
src/timblserver
stamp-h1
timblserver.pc
